# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# ROOT FILES

*.root 

# Package Files 
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Meson directory

neutral_meson_flux/ 
output_files/

# .d files
BdNMC/build/.d/
BdNMC/build/.d/Axion_Dark_Photon.d
BdNMC/build/.d/BMPT_dist.d
BdNMC/build/.d/branchingratios.d
BdNMC/build/.d/BurmanSmith.d
BdNMC/build/.d/decay_gen_baryonic.d
BdNMC/build/.d/decay_gen_kinetic_mixing.d
BdNMC/build/.d/decay.d
BdNMC/build/.d/detector.d
BdNMC/build/.d/DMNscattering_Baryonic.d
BdNMC/build/.d/DMNscattering.d
BdNMC/build/.d/DMscattering.d
BdNMC/build/.d/Electron_Scatter.d
BdNMC/build/.d/Inelastic_Nucleon_Scatter.d
BdNMC/build/.d/Integrator.d
BdNMC/build/.d/Kinematics.d
BdNMC/build/.d/main.d
BdNMC/build/.d/minimization.d
BdNMC/build/.d/Nucleon_Scatter.d
BdNMC/build/.d/Parameter.d
BdNMC/build/.d/Particle_List.d
BdNMC/build/.d/Particle.d
BdNMC/build/.d/parton_V_gen.d
BdNMC/build/.d/partonsample.d
BdNMC/build/.d/piminus_capture_gen.d
BdNMC/build/.d/Pion_Inelastic.d
BdNMC/build/.d/Position_Distributions.d
BdNMC/build/.d/Proton_Brem_Distribution.d
BdNMC/build/.d/Random.d
BdNMC/build/.d/record_root.d
BdNMC/build/.d/record.d
BdNMC/build/.d/sanfordwang.d
BdNMC/build/.d/SignalDecay.d
BdNMC/build/.d/V_decay_gen.d
.vscode/settings.json

BdNMC/build/main
